<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./images/icon.png">
    <title>Spendia: Expense Tracking Dashboard</title>
    <link rel="stylesheet" href="/views/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/icon.png">
</head>
<body>
   <div id="container">
        <div id="navBar">
            <div id="navBarHeader">

            </div>
            <div id="personalInfo">
                <img src=<%= userData.profilePic %> alt="User Image">
                <p><%= userData.firstName %> <%= userData.lastName %></p>
            </div>
            <div id="general-extras">
                <p>GENERAL</p>
                <div id="general">
                    <a href="#" id="dashboard">Dashboard</a>
                    <button id="categories">Categories</button>
                    <button id="expenses" id="expenses">Expenses</button>
                </div>
                <p>EXTRAS</p>
                <div id="extras">
                    <button id="settings">Settings</button>
                    <button id="help">Help</button>
                </div>
            </div>
        </div>
        <div id="mainSection">
            <div id="mainSectionHeader">
                <h1>Expense Tracking App</h1>
            </div>
            <div id="moneySection">
                <div id="balanceDiv">
                    <h3 id="balance-number">$<%= userData.balance %></h3>
                    <p>Current Balance</p>
                </div>
                <div id="incomeDiv">
                    <h3 id="income-number">$<%= userData.income %></h3>
                    <p>Total Income</p>
                </div>
                <div id="expensesDiv">
                    <h3 id="expenses-number">$<%= userData.expense %></h3>
                    <p>Total Expenses</p>
                </div>
            </div>
            <div id="chartSection">
                <div id="chart">
                    <div id="categoriesDisplay">
                        <h3>Category Summary</h3>
                    </div>
                    <!-- Here we insert the chart displaying the expenses-categories information -->
                    <div id="emptyChart">
                        <img src="/views/images/add.png">
                        <h1>Start adding expenses to see the chart</h1>
                    </div>
                    <div id="chartDisplay">

                    </div>
                </div>
                <div id="operations">
                    <button id="deposit">Deposit</button>                    
                    <button id="withdraw">Withdraw</button>
                    <button id="addExpense">Add Expense</button>
                </div>
            </div>
        </div>
        <!-- Here we display the latest expenses, extracting data from DB -->
        <div id="latestTransactions">
            <div id="transactionsHeader">
                <h3>Latest Expenses & Transactions</h3>
            </div>
        </div>
   </div>
   <p id="username"><%= userData.username %></p>
   <script src="/views/dashboard.js"></script>
</body>
</html>